@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

body {
    padding: 15px;
}

#container {
    width: 80%;
    margin: 0 auto;
}

#header {
    height: 60px;
    margin-top: 10px;
    display: inline-flex;
    width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    height: 50px;
    display: inline-flex;
}

h5 {
    text-align: right;
    float: right;
    vertical-align: middle;
    margin-top: 20px !important;
    color: #60356A !important;
    font-size: 14px !important;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

h4 {
    font-size: 16px !important;
    margin-bottom: 20px !important;
}

#key p {
    font-size: 14px;
}

h3 {
    font-weight: 200 !important;
    font-size: 36px;
    color: #AA73B7 !important;
}

h2 {
    padding-bottom: 10px;
    padding-top: 20px;
}

.welcome {
    margin-top: 30vh;
    color: #838383;
    line-height: 30px;
    font-size: 1.2em;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.results {
    margin-top: 5vh;
}

.results_body {
    padding-right: 20px;
    text-align: justify;
}

.where {
    margin-top: 20vh;
    color: #838383;
    line-height: 30px;
    font-size: 1.2em;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

.disclaimer {
    font-size: 10px;
    line-height: 14px;
    color: #A2A2A2;
    margin-top: 5vh;
}

.loading {
    margin-top: 60vh;
    text-align: center;
}

.basket {
    margin-top: 25vh;
    text-align: right;
    float: right;
}

.loading_fruit {
    text-align: right;
/*    float: right;*/
    width: 150px;
    margin-bottom: 3vw;
}

.middle_fruit {
    margin-left: 3vw;
    margin-right: 3vw;
}

.begin {
    background-color: #AA73B7;
    border-radius: 5px;
    border: 1px solid #BE8ECB;
    width: 130px;
    color: #fff;
    padding: 10px;
    font-size: 0.9em;
}

#results {
/*    position: fixed;*/
    display: block;
    top: 19vh;
    background-color: #F2F2F2;
/*    padding: 30px;*/
    border: 1px solid #EAEAEA;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

#results h3 {
    padding-top: 20px;
}

img.number {
    display: inline;
    padding-right: 20px;
    margin-left: -25px;
}

#key {
    border: 1px solid #D7D7D7;
    padding: 30px;
    margin-top: 30px;
}

#coupon {
    text-align: center;
    display: block;
    padding: 30px;
}

.keyred {
    color: red;
}

.keyyellow {
    color: yellow;
}

.keygreen {
    color: green;
}

.keytext {
    color: #000;
}

hr {
    padding-bottom: 30px;
}

.side_header {
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #4e4e4e !important;
    border-bottom: 1px solid #c9c9c9;
    padding-left: 30px;
    padding-right: 30px;
}

.activated {
    color: #AA73B7 !important;
}

#results a {
    text-decoration: none;
}

#congressman {
    margin-left: 200px;
}

.search {
    background-color: #AA73B7 !important;
    border-radius: 10px;
    border: 1px solid #BE8ECB !important;
    width: 130px;
    color: #fff;
    margin-top: 20px !important;
}

form {
    margin-top: 25vh !important;
    width: 70%;
    margin: auto;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: 'Muli', sans-serif;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.space {
    margin-bottom: 200px;
}

/* Center the loader */

#loader {
/*    position: absolute;*/
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
/*    margin: -75px 0 0 -75px;*/
    margin: auto;
    margin-top: 30vh;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #644e9e;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 20vh;
    width: 75vw;
}

.thanks {
    text-align: center;
    width: 60vw;
    margin: auto;
    margin-top: 20vh;
}

.w3-modal-content {
    margin: 0 auto !important;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    text-align: center;
    display: block;
}

.mobile_basket {
    display: none;
}

.split_header {
    width: 50% !important;
}

@media only screen and (max-width: 1000px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100% !important;
    }
    .basket {
        display: none;
    }
    .mobile_basket {
        display: flex;
        max-height: 200px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .welcome {
        float: right;
        margin-top: 0;
    }
    .where {
        margin-top: 5vh;
    }
    form {
        margin-top: 5vh !important;
        width: 50%;
    }
    button {
        margin: 0 auto;
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .split_header {
        width: 100% !important;
    }
    h5 {
        text-align: center;
        float: none;
        display: block;
        margin: 0 auto;
    }
    h3 {
        font-size: 1.3em;
    }
    .mobile_basket {
        margin-top: 80px;
    }
    .where {
        margin-top: 10vh;
    }
}

